.App {
    width: 100%;
}

.Note {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    display: inline-block;
    margin-left: 3px;
}

.Note.active {
    background-color: lawngreen;
}